@use 'mediaQuery';

img {
  border-radius: 50%;
  transition: 1s;
  height: 300px;
  &:hover {
    border-radius: 20px;
  }
  @include mediaQuery.mobile {
    height: 180px;
  }
}

h2 {
  font-size: 50px;
  @include mediaQuery.mobile {
   font-size: 35px;
  }
}

.about-content {
  width: 60%;
  margin-top: 20px;
  @include mediaQuery.mobile {
    width: 80%;
  }
}