@use 'colors';

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  &-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-image-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      img {
        width: 17rem;
        border-radius: 0.5rem;
        margin-right: .1rem;
      }
      &-bg {
        width: 13.5rem;
        height: 15rem;
        background-color: colors.$color-three;
        border-radius: 0.5rem;
        position: absolute;
        left: 30px;
        top: 17px;
        z-index: -1;
      }
    }
    &-name-container {
      background-color: colors.$color-three;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      color: colors.$color-six;
      margin-top: 40px;
      h2 {
        font-size: 5rem;
        margin-bottom: 11px;
        text-align: center;
      }
      h4 {
        font-size: 1.7rem;
      }
      h6 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
      }
    }
    .space {
      display: none;
      width: 10px;
    }
  }
  &-content {
    width: 90%;
    margin: 20px 0 40px;
    line-height: 32px;
    font-size: 18px;
    z-index: 1;
    div {
      margin-top: 30px;
    }
    .text-left {
      color: colors.$color-one;
      width: 100%;
      height: 90vw;
      background-color: lighten(colors.$color-one, $amount: 40);
      border-radius: 0.5rem;
      position: relative;
      a {
        color: colors.$color-two;
        text-decoration: underline;
        &::after {
          content: ('');
          display: inline-block;
          background-image: url('https://assets-global.website-files.com/61549abf6fb9ca5e91bc5709/61549abf6fb9ca4630bc5747_Logo.svg');
          background-position: bottom left;
          background-repeat: no-repeat;
          background-size: 30px;
          width: 52px;
          height: 20px;
          margin-left: 4px;
        }
      }
      &-container {
        position: absolute;
        width: 15rem;
        margin: 0;
        top: 2.5rem;
        left: 1.25rem;
      }
    }
    .text-right {
      color: colors.$color-six;
      text-align: right;
      font-size: 20px;
      width: 100%;
      height: 90vw;
      background-color: colors.$color-three;
      z-index: -999;
      border-radius: 0.5rem;
      position: relative;
      &-container {
        position: absolute;
        width: 15rem;
        margin: 0;
        right: 2rem;
        bottom: 3rem;
      }
    }
    &-social-media {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      h1 {
        color: colors.$color-five;
      }
      &-icons {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        img {
          width: 3rem;
        }
      }
    }
  }
}