@use 'colors';

.about {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  &-top {
    display: flex;
    justify-content: space-between;
    &-image-container {
      position: relative;
      img {
        width: 420px;
        border-radius: 7px;
        margin-left: 20px;
      }
      &-bg {
        width: 350px;
        height: 350px;
        background-color: colors.$color-three;
        border-radius: 7px;
        position: absolute;
        left: 60px;
        top: 20px;
        z-index: -99999;
      }
    }
    &-name-container {
      background-color: colors.$color-three;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50vw;
      margin-left: 20px;
      color: colors.$color-six;
      h2 {
        font-size: 100px;
        margin-bottom: 11px;
      }
      h4 {
        font-size: 25px;
      }
      h6 {
        font-size: 15px;
      }
    }
    .space {
      width: 10px;
    }
  }
  &-content {
    width: 697px;
    height: 350px;
    padding: 30px 40px;
    margin-top: 150px;
    line-height: 32px;
    position: relative;
    font-size: 18px;
    .text-left {
      color: colors.$color-one;
      width: 260px;
      position: absolute;
      top: 0;
      a {
        color: colors.$color-two;
        text-decoration: none;
      }
    }
    .text-right {
      color: colors.$color-six;
      text-align: right;
      width: 260px;
      position: absolute;
      right: 80px;
      bottom: -30px;
      font-size: 20px;
    }
    .div-left{
      width: 370px;
      height: 370px;
      background-color: lighten(colors.$color-one, $amount: 40);
      position: absolute;
      top: -70px;
      left: 10px;
      z-index: -1000;
      border-radius: 7px;
    }
    .div-right{
      width: 370px;
      height: 370px;
      background-color: colors.$color-three;
      position: absolute;
      bottom: -100px;
      right: 30px;
      z-index: -999;
      border-radius: 7px;
    }
  }
}