@use 'colors';
.header {
  background-color: colors.$color-three;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  h1 {
    color: white;
    margin-right: 25px;
    text-transform: uppercase;
    cursor: unset;
  }
  .header-nav {
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      div {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        p {
          padding: 2px;
          color: transparent;
          font-size: 12px;
        }
        transition: .5s;
      }
      div:hover {
        background-color: lighten($color: colors.$color-three, $amount: 5);
        p {
          color: white;
        }
      }
    }
  }
}
