@use 'colors';
@use 'mediaQuery';

.header {
  background-color: colors.$color-three;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .space {
    width: 15px;
    height: 5px;
  }
  h1 {
    color: white;
    margin-right: 25px;
    text-transform: uppercase;
    cursor: unset;
    display: none;
  }
  .header-nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    a {
      text-decoration: none;
      button {
        border: none;
        background-color: transparent;
        width: 70px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        p {
          padding: 2px;
          color: transparent;
          font-size: 12px;
          transition: color .5s ease;
        }
        transition: .5s;
        &:hover {
          background-color: lighten($color: colors.$color-three, $amount: 5);
          p {
            color: white;
          }
        }
        &.active {
          background-color: lighten($color: colors.$color-three, $amount: 5);
        }
      }
    }
  }
}

