@use 'colors';
@use 'mediaQuery';
a {
  text-decoration: none;
}
.project-card {
  color: colors.$color-six;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: colors.$color-three;
  padding-bottom: 20px;
  margin-top: 2.5rem;
  width: 15rem;
  border-radius: 1.1rem;
  min-height: 23rem;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.342);
  @include mediaQuery.query('tablet') {
    min-height: 26rem;
    margin: 1rem;
    width: 18rem;
  }

  .div-upper-project {
    opacity: 0;
    position: absolute;
    top: 5px;
    background-color: transparentize(colors.$color-five, $amount: 0.4%);
    width: 100%;
    height: 100%;
    border-radius: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: transparentize(white, $amount: 0.2%);
    text-decoration: underline 1.5px;
    transition: opacity .5s, top .3s;
  }

  .div-upper-project:hover {
    opacity: 100;
    top: 0;

  }

  &-image-container {
    img {
      width: 15rem;
      height: 220px;
      object-fit: cover;
      object-position: center top;
      border-radius: 17px 17px 0 0;
      margin-bottom: 7px;
      @include mediaQuery.query('tablet') {
        width: 18rem;
      }
    }
  }
  &-content {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-size: 20px;
      margin-bottom: 10px;
      @include mediaQuery.query('tablet') {
        font-size: 1.4rem;
      }
    }
    p {
      font-size: 15px;
      text-align: center;
      @include mediaQuery.query('tablet'){
        font-size: 1.2rem;
      }
    }
  }
}