@use 'colors';
@use 'mediaQuery';

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-title-container {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    color: colors.$color-three;
    margin-top: 1.1rem;
    h1 {
      font-weight: bold;
    }
    @include mediaQuery.query('tablet') {
      font-size: 2.2rem;
    }
  }
  &-content {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    @include mediaQuery.query('tablet') {
      margin-top: 0;
    }
  }
}