@use 'colors';
@use 'mediaQuery';

.project-details {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 3rem;
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    @include mediaQuery.query('tablet') {
      flex-direction: row;
      align-items: flex-start;
      margin-top: 1rem;
    }
    &-thumb-container {
      img {
        width: 100vw;
        box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.342);
        @include mediaQuery.query('tablet') {
          width: 23rem;
          height: 20rem;
          object-fit: cover;
          box-shadow: 7px 7px 5px 0px rgba(0, 0, 0, 0.267);
          border-radius: 0 1rem 1rem 0;
        }
      }
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      @include mediaQuery.query('tablet') {
        width: 100%;
      }
      .check-box-container {
        font-size: 18px;
        position: absolute;
        top: 18rem;
        right: 5px;
        input {
          margin-left: 1rem;
        }
        @include mediaQuery.query('tablet') {
          font-size: 1.4rem;
          bottom: 0;
          left: 0;
        }
      }
      h1 {
        color: colors.$color-four;
        font-weight: bold;
        font-size: 2.5rem;
        margin-top: 1rem;
        @include mediaQuery.query('tablet') {
          margin-top: 0;
          align-self: flex-start;
          margin-left: 1.3rem;
          font-size: 5rem;
        }
      }
      &-description {
        width: 95%;
        font-size: 1.3rem;
        color: colors.$color-six;
        margin-top: 1.7rem;
        background-color: colors.$color-three;
        padding: 1.5rem;
        border-radius: 1rem;
        @include mediaQuery.query('tablet') {
          width: 94%;
          font-size: 1.6rem;
        }
      }
      &-links {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-top: 1.7rem;
        @include mediaQuery.query('tablet') {
          align-items: center;
        }
        a {
          text-decoration: none;
          cursor: pointer;
          font-size: 1.3rem;
          @include mediaQuery.query('tablet') {
            font-size: 2rem;
          }
          @include mediaQuery.query('tablet') {
            img {
              width: 6rem;
            }
          }
        }
      }
    }
  }
  &-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
    h1 {
      font-size: 2.4rem;
      color: colors.$color-three;
      margin-bottom: 2rem;
      @include mediaQuery.query('tablet') {
        font-size: 3.5rem;
      }
    }
    &-content {
      background-color: colors.$color-two;
      border-radius: 1.5rem;
      padding: 1rem;
      display: grid;
      grid-template-columns: 80vw;
      @include mediaQuery.query('tablet') {
        grid-template-columns: 40vw 40vw;
        grid-column-gap: 1.5rem;
        padding: 1.5rem;
      }
      img {
        width: 100%;
        margin-bottom: 1.4rem;
        border-radius: .5rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.342);
      }
    }
  }
}