@use 'colors';
@use 'mediaQuery';

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-title {
    font-size: 3rem;
    color: colors.$color-three;
    margin-top: 20px;
    @include mediaQuery.query('tablet') {
      font-size: 4.5rem;
    }
  }
  &-content{
    background-color: colors.$color-three;
    padding: 40px 50px;
    width: 90%;
    border-radius: 1rem;
    margin-top: 30px;
    @include mediaQuery.query('tablet') {
      width: 65%;
    }
    &-list{
      list-style: none;
      @include mediaQuery.query('tablet') {
        margin-left: 1.4rem;
      }
      &-learned-item {
        color: colors.$color-six;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 10px;
        @include mediaQuery.query('tablet') {
          font-size: 1.7rem;
        }
      }
      &-learned-item::before{
        content: ('');
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='30' height='30'%0AviewBox='0 0 30 30'%0Astyle=' fill:%23fde6d6;'%3E%3Cpath d='M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z'%3E%3C/path%3E%3C/svg%3E");
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        @include mediaQuery.query('tablet') {
          background-size: 2rem;
          width: 2.4rem;
          height: 2.4rem;
        }
      }
      &-to-learn-item {
        color: colors.$color-six;
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 10px;
        @include mediaQuery.query('tablet') {
          font-size: 1.7rem;
        }
      }
      &-to-learn-item::before{
        content: ('');
        color: colors.$color-six;
        font-size: 2rem;
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;
        border: solid 1px colors.$color-six;
        border-radius: 0.2rem;
        width: 18px;
        height: 18px;
        @include mediaQuery.query('tablet') {
          border: solid 2px colors.$color-six;
          width: 1.8rem;
          height: 1.8rem;
          margin-right: 15px;
        }
      }
    }
  }
}