@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");
.header {
  background-color: #a1816c;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header {
    justify-content: space-between;
  }
}
.header h1 {
  color: #fde6d6;
  margin-right: 25px;
  text-transform: uppercase;
  cursor: unset;
  display: none;
}
@media (min-width: 768px) {
  .header h1 {
    display: inherit;
  }
}
.header .header-nav {
  display: flex;
}
.header .header-nav a {
  text-decoration: none;
}
.header .header-nav a button {
  border: none;
  background-color: transparent;
  width: 5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-size: 30px;
  color: #fde6d6;
  cursor: pointer;
  transition: 0.5s;
}
@media (min-width: 768px) {
  .header .header-nav a button {
    font-size: 40px;
    width: 6.5rem;
  }
}
.header .header-nav a button p {
  padding: 2px;
  color: transparent;
  font-size: 12px;
  transition: color 0.5s ease;
}
@media (min-width: 768px) {
  .header .header-nav a button p {
    font-size: 0.9rem;
  }
}
.header .header-nav a button:hover {
  background-color: #ab8e7c;
}
.header .header-nav a button:hover p {
  color: #fde6d6;
}
.header .header-nav a button.active {
  background-color: #ab8e7c;
}
.header .header-nav a button.active p {
  color: #fde6d6;
}

.main {
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh;
  background-color: #fbede3;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.about-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .about-top {
    margin-top: 1.5rem;
    width: 85vw;
  }
}
.about-top-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.about-top-image-container img {
  width: 17rem;
  border-radius: 0.5rem;
  margin-right: 0.1rem;
}
@media (min-width: 768px) {
  .about-top-image-container img {
    width: 22rem;
    margin-right: 0;
    margin-left: 2rem;
  }
}
.about-top-image-container-bg {
  width: 13.5rem;
  height: 15rem;
  background-color: #a1816c;
  border-radius: 0.5rem;
  position: absolute;
  left: 30px;
  top: 17px;
  z-index: -1;
}
@media (min-width: 768px) {
  .about-top-image-container-bg {
    width: 18rem;
    height: 19.5rem;
    left: 3.7rem;
  }
}
.about-top-name-container {
  background-color: #a1816c;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  color: #fde6d6;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .about-top-name-container {
    margin-top: 55px;
  }
}
.about-top-name-container h2 {
  font-size: 5rem;
  margin-bottom: 11px;
  text-align: center;
}
@media (min-width: 768px) {
  .about-top-name-container h2 {
    margin-top: 1.4rem;
    margin-bottom: 2.5rem;
  }
}
.about-top-name-container h4 {
  font-size: 1.7rem;
}
@media (min-width: 768px) {
  .about-top-name-container h4 {
    font-size: 2.1rem;
  }
}
.about-top-name-container h6 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .about-top-name-container h6 {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
  }
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
  line-height: 32px;
  font-size: 18px;
  z-index: 1;
}
@media (min-width: 768px) {
  .about-content-text-container {
    height: 37rem;
  }
}
.about-content div {
  width: 90%;
  margin-top: 30px;
}
@media (min-width: 768px) {
  .about-content div {
    width: 80%;
  }
}
.about-content .text-left {
  color: #A6653D;
  width: 100%;
  height: 19rem;
  background-color: #ead3c5;
  border-radius: 0.5rem;
  position: relative;
}
@media (min-width: 768px) {
  .about-content .text-left {
    right: 7rem;
    width: 95%;
  }
}
.about-content .text-left a {
  color: #8B563D;
  text-decoration: underline;
}
.about-content .text-left a::after {
  content: "";
  display: inline-block;
  background-image: url("https://assets-global.website-files.com/61549abf6fb9ca5e91bc5709/61549abf6fb9ca4630bc5747_Logo.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 30px;
  width: 52px;
  height: 20px;
  margin-left: 4px;
}
.about-content .text-left-container {
  position: absolute;
  width: 15rem;
  margin: 0;
  top: 2.5rem;
  left: 1.25rem;
}
.about-content .text-right {
  color: #fde6d6;
  text-align: right;
  font-size: 20px;
  width: 100%;
  height: 19rem;
  background-color: #a1816c;
  z-index: -999;
  border-radius: 0.5rem;
  position: relative;
}
@media (min-width: 768px) {
  .about-content .text-right {
    left: 8.4rem;
    width: 95%;
    bottom: 9rem;
    z-index: 2;
  }
}
.about-content .text-right-container {
  position: absolute;
  width: 15rem;
  margin: 0;
  right: 2rem;
  bottom: 3rem;
}
.about-content-social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  position: relative;
}
.about-content-social-media h1 {
  color: #282828;
}
@media (min-width: 768px) {
  .about-content-social-media h1 {
    font-size: 2.3rem;
  }
}
.about-content-social-media-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .about-content-social-media-icons {
    justify-content: space-between;
  }
}
.about-content-social-media-icons button {
  background-color: transparent;
  border: none;
}
.about-content-social-media-icons button:focus {
  outline: none;
}
.about-content-social-media-icons a:focus {
  outline: none;
  border: none;
}
.about-content-social-media-icons img {
  width: 3rem;
}
@media (min-width: 768px) {
  .about-content-social-media-icons img {
    width: 3.5rem;
  }
}
.about-content-social-media-icons .email-copied {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #573930;
  position: absolute;
  background-color: #ffffffa8;
  box-shadow: 0 3px 4px #888888;
  padding: 4px 6px;
  border-radius: 0.3rem;
  bottom: 3.2rem;
  right: -0.2rem;
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-title {
  font-size: 3rem;
  color: #a1816c;
  margin-top: 20px;
}
.skills-content {
  background-color: #a1816c;
  padding: 40px 50px;
  width: 90%;
  border-radius: 1rem;
  margin-top: 30px;
}
.skills-content-list {
  list-style: none;
}
.skills-content-list-learned-item {
  color: #fde6d6;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.skills-content-list-learned-item::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' x='0px' y='0px'%0Awidth='30' height='30'%0AviewBox='0 0 30 30'%0Astyle=' fill:%23fde6d6;'%3E%3Cpath d='M 26.980469 5.9902344 A 1.0001 1.0001 0 0 0 26.292969 6.2929688 L 11 21.585938 L 4.7070312 15.292969 A 1.0001 1.0001 0 1 0 3.2929688 16.707031 L 10.292969 23.707031 A 1.0001 1.0001 0 0 0 11.707031 23.707031 L 27.707031 7.7070312 A 1.0001 1.0001 0 0 0 26.980469 5.9902344 z'%3E%3C/path%3E%3C/svg%3E");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}
.skills-content-list-to-learn-item {
  color: #fde6d6;
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.skills-content-list-to-learn-item::before {
  content: "";
  color: #fde6d6;
  font-size: 2rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  border: solid 1px #fde6d6;
  border-radius: 0.2rem;
  width: 18px;
  height: 18px;
}

a {
  text-decoration: none;
}

.project-card {
  color: #fde6d6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a1816c;
  padding-bottom: 20px;
  margin-top: 2.5rem;
  width: 15rem;
  border-radius: 1.1rem;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.342);
}
.project-card .div-upper-project {
  opacity: 0;
  position: absolute;
  top: 5px;
  background-color: rgba(40, 40, 40, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline 1.5px;
  transition: opacity 0.5s, top 0.3s;
}
.project-card .div-upper-project:hover {
  opacity: 100;
  top: 0;
}
.project-card-image-container img {
  width: 15rem;
  height: 220px;
  object-fit: cover;
  object-position: center top;
  border-radius: 17px 17px 0 0;
  margin-bottom: 7px;
}
.project-card-content {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-card-content h1 {
  font-size: 20px;
  margin-bottom: 10px;
}
.project-card-content p {
  font-size: 15px;
  text-align: center;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-title-container {
  font-size: 1.5rem;
  color: #a1816c;
  margin-top: 1.1rem;
}
.projects-title-container h1 {
  font-weight: bold;
}
.projects-content {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.project-details {
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding-bottom: 3rem;
}
.project-details-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.project-details-header-thumb-container img {
  width: 100vw;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.342);
}
.project-details-header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.project-details-header-content .check-box-container {
  font-size: 18px;
  position: absolute;
  top: 18rem;
  right: 5px;
}
.project-details-header-content .check-box-container input {
  margin-left: 1rem;
}
.project-details-header-content h1 {
  color: #573930;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 1rem;
}
.project-details-header-content-description {
  width: 95%;
  font-size: 20px;
  color: #fde6d6;
  margin-top: 1.7rem;
  background-color: #a1816c;
  padding: 1.5rem;
  border-radius: 1rem;
}
.project-details-header-content-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1.7rem;
}
.project-details-header-content-links a {
  text-decoration: none;
  cursor: pointer;
  font-size: 20px;
}
.project-details-gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.5rem;
}
.project-details-gallery h1 {
  font-size: 2.4rem;
  color: #a1816c;
  margin-bottom: 2rem;
}
.project-details-gallery-content {
  background-color: #8B563D;
  border-radius: 1.5rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 80vw;
}
.project-details-gallery-content img {
  width: 100%;
  margin-bottom: 1.4rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.342);
}

/*# sourceMappingURL=index.css.map */
